/* Add CSS Styling */
.first {
    background-color: rgb(0, 0, 0);
    color: #ffffff
}

.second {
    background-color: hsl(48, 80%, 50%);
}

.first,
.second {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}